@mixin bg($url) {
	background: url($url) no-repeat center;   //в миксине не должно быть кавычек!!!!!
	background-size: cover;  
}
@mixin section-border($color) {
	color: $color;
	position: relative;
	border-bottom: 2px solid $color;
	&::before, &::after {
			content: "";
			position: absolute;
			height: calc(100% - #{rem(($font-size + $line-hight-ratio)/2)});
			width: rem(240); 
			bottom: 0;   
			border-top: 2px solid $color;
		}
		&::before {
			left: 0;
			border-left: 2px solid $color;
		}
		&::after {
			right: 0;
			border-right: 2px solid $color;
		}
}


@mixin btn($bg) {
	display: inline-block;  //для ссылок, т.к они строчные
	padding: 0 rem(23); 
	width: 43.8%;
	height: 55px;
	color: #FFF;   
	background-color: $bg;
	line-height: 55px; //выравнивание!!!important  
	text-align: center; 
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	text-transform: uppercase; 
}