.flex {
	// margin-bottom: 130px; 
	
	width: 100%;
	font-size: 0;
	&__row {
		@extend .flex-row;
		justify-content: space-between; 
	}
	&__link {
		display: flex;
		align-items: flex-start;
		&:hover {
			opacity: .7;
			transition: all .3s linear; 
		}
	}
	&__wrap {
		margin-bottom: rem(10);
		// padding: 0 rem(5);
		position: relative;
		&--first {
			width: calc((100% - 20px)*0.288415);
			padding-left: 0;	
		}
		&--second {
			width: calc((100% - 20px)*0.42211); 
		}
		&--third {
			width: calc((100% - 20px)*0.289475);
			padding-right: 0;
			// margin-right: 0;
		}
	}
	&__photo {
		max-width: 100%; 
		height: auto;
		display: block; 
	}
	&__title {
		position: absolute;
		margin: 0;
		bottom: rem(42);
		left: rem(44);
		color: $white; 
	}
	}







